body{
    background: #fff8dc;
    text-align: left;
    font-family: sans-serif;
}
*:not(p){
    margin: 0 auto;
}
.article {
    max-width: 680px;
    padding: 24px;
}
.article__heading{
    margin: 0 0 24px 0;
    color: #d87093
}
.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}
.figure__image, .figure__caption{
    text-align: center;
    margin: 8px 0 0;
    font-style: italic;
}
.figure__image{
    margin-top: 0;
}